# Dependency directory
node_modules
bower_components

# Editors
.vscode

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore lock files
yarn.lock
package-lock.json

npm-debug.log