version: '3'
services:
  inventory:
    build:
      context: .
      dockerfile: dockerfile.dev
    command: npm run dev
    user: "node"
    environment:
      NODE_ENV: development
    ports:
      - "8080:8080"
    volumes:      
      - ./:/app
      - ./node_modules:/app/node_modules
  price:
    image: adichallenge/adichallenge:product-engine