version: '3'
services:
  test:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: npm test
    user: "node"
    environment:
      NODE_ENV: development
    volumes:
      - ./:/app